*.swp
Debug/*
#FreeRTOS/
#Libraries/
settings/*
*~
*.dep
*.ewd
#*.ewp
#*.eww
*.sfr
#*.icf
smb380*
smt*
Classes/*old*
*.o
*.tmp
*.cout
*.out
*.txt
*.bak
*.dbgdt
*.dni
*.wsdt
*.cpp_backup

